ConsoleApplication/Service References/ServiceReference/MyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1082/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DotNet" />
  <xs:element name="GetCinemas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="GetCinemasResult" nillable="true" type="q1:ArrayOfCinema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="GetMoviesResult" nillable="true" type="q2:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="GetActorsResult" nillable="true" type="q3:ArrayOfActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTickets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="GetTicketsResult" nillable="true" type="q4:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCinema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="cinema" nillable="true" type="q5:Cinema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCinemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="AddCinemaResult" nillable="true" type="q6:Cinema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="movie" nillable="true" type="q7:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="AddMovieResult" nillable="true" type="q8:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="actor" nillable="true" type="q9:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="AddActorResult" nillable="true" type="q10:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="ticket" nillable="true" type="q11:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="AddTicketResult" nillable="true" type="q12:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCinema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="cinema" nillable="true" type="q13:Cinema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCinemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="movie" nillable="true" type="q14:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="actor" nillable="true" type="q15:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="ticket" nillable="true" type="q16:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCinema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="cinema" nillable="true" type="q17:Cinema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCinemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="UpdateCinemaResult" nillable="true" type="q18:Cinema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="movie" nillable="true" type="q19:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="UpdateMovieResult" nillable="true" type="q20:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="actor" nillable="true" type="q21:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="UpdateActorResult" nillable="true" type="q22:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="ticket" nillable="true" type="q23:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DotNet" minOccurs="0" name="UpdateTicketResult" nillable="true" type="q24:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>